@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import "tailwindcss";

@theme {
    --font-michroma: "Michroma", sans-serif;
    --font-oswald: "Oswald", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}


html {
    scroll-behavior: smooth;
}